data/
env/
archive/
__pycache__/
*.pyc
/dist/
/*.egg-info
/*.egg
env
.eggs/
build/
build_doc.sh
build_wheel.sh
.DS_Store
/**/__pycache__/
/**/.pytest_cache/
site/
examples/arc/
examples/data/
*.asql
*.wal
*.h5ad